{% extends 'Aplicacion/base.html' %}
{% load static %}

{% block heading %}
    <h1 class="masthead-heading mb-0">Nuestros Servicios</h1>
{% endblock heading %}

{% block subheading %}
    <h2 class="masthead-subheading mb-0">Eliminación de Contratos : Expirados,completos</h2>
{% endblock subheading %}

{% block contenido1 %}
<form method="post">
    {% csrf_token %}
    <p>¿Estás seguro que quieres eliminar este contrato?</p>
    <button type="submit">Sí</button>
</form>
{% endblock contenido1 %}

{% block contenido2 %}{% endblock contenido2 %}
{% block contenido3 %}{% endblock contenido3 %}
{% block subheading2 %}<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'contrato_list' %}">Volver</a>{% endblock subheading2 %}