{% extends 'Aplicacion/base.html' %}
{% load static %}

{% block heading %}
    <h1 class="masthead-heading mb-0">Acerca de Mi </h1>
{% endblock heading %}

{% block subheading %}
{% endblock subheading %}

{% block contenido1 %}
    <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'Aplicacion/assets/img/acercademi.png' %}" alt="..." /></div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <h2 class="display-4">Hola, soy Miguel Oballe</h2> <table>
                    <td>
                        <a
                        href="https://www.linkedin.com/in/miguel-oballe/"
                        class="btn btn-primary btn-sm"
                        ><i class="fa-brands fa-linkedin" style="font-size:24px;" ></i> <i class="fa fa-plus fa-lg"  style="font-size:24px;" title="linkedin"> </i>
                        </a>
                    </td>
                <p>
                  Soy un ingeniero de redes asociado en JPMorgan Chase & Co. con más de 5 años de experiencia en el sector de tecnología y redes. Soy egresado de la Universidad Nacional de General San Martín, donde obtuve mi título de Técnico Universitario en Redes Informáticas. 
                </p>
                <p>
                  Mi carrera comenzó en Internet Services S.A., donde trabajé como Técnico de Redes. Luego, pasé varios años en Transtelco como Operador de NOC. He trabajado extensivamente con equipamiento Juniper, y mi experiencia también se extiende a la gestión de proyectos en LATAM.
                </p>
            </div>
        </div>
    </div>
{% endblock contenido1 %}

{% block contenido2 %}{% endblock contenido2 %}
{% block contenido3 %}{% endblock contenido3 %}
{% block contenido4 %}{% endblock contenido4 %}
{% block parrafo1 %}{% endblock parrafo1 %}
