{% extends 'Aplicacion/base.html' %}
{% load static %}

{% block heading %}
    <h1 class="masthead-heading mb-0">Nuestros Enfermeros</h1>
{% endblock heading %}

{% block subheading %}
    <h2 class="masthead-subheading mb-0">ABM de Enfermeros</h2>
{% endblock subheading %}

{% block contenido1 %}
<table>
    <tr>
        <td width="200"><h2>Enfermeros</h2></td>
        <td>
            <a
            href="{% url 'enfermero_new' %}"  
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-user-doctor" style="font-size:24px;" ></i> <i class="fa fa-plus fa-lg"  style="font-size:24px;" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for enfermero in object_list %}
            <tr>
                <td>{{ enfermero.nombre }}</td>
                <td>{{ enfermero.telefono }}</td>
                <td>
                    <a href="{% url 'enfermero_detail' enfermero.id %}" class="btn btn-primary btn-sm">
                        <i class="fa-solid fa-eye" title="Detalle"></i>
                    </a>
                    <a href="{% url 'enfermero_edit' enfermero.id %}" class="btn btn-primary btn-sm">
                        <i class="fa fa-edit fa-sm" title="Editar"></i>
                    </a>
                    <a href="{% url 'enfermero_delete' enfermero.id %}" class="btn btn-danger btn-sm">
                        <i class="fa-solid fa-trash" title="Eliminar"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contenido1 %}

{% block contenido2 %}{% endblock contenido2 %}
{% block contenido3 %}{% endblock contenido3 %}

