{% extends 'Aplicacion/base.html' %}
{% load static %}

{% block heading %}
    <h1 class="masthead-heading mb-0">Nuestros Servicios</h1>
{% endblock heading %}

{% block subheading %}
    <h2 class="masthead-subheading mb-0">Detalle de nuestros Enfermeros</h2>
{% endblock subheading %}

{% block contenido1 %}
    <table class="table table-bordered">
        <tr>
            <th>Nombre</th>
            <td>{{ object.nombre }}</td>
        </tr>
        <tr>
            <th>Dirección</th>
            <td>{{ object.direccion }}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>{{ object.telefono }}</td>
        </tr>
        <tr>
            <th>Correo</th>
            <td>{{ object.correo }}</td>
        </tr>
        <tr>
            <th>Especialidad</th>
            <td>{{ object.especialidad }}</td>
        </tr>
        <tr>
            <th>Matrícula</th>
            <td>{{ object.matricula }}</td>
        </tr>
    </table>
{% endblock contenido1 %}

{% block contenido2 %}{% endblock contenido2 %}
{% block contenido3 %}{% endblock contenido3 %}
{% block subheading2 %}<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'enfermero_list' %}">Volver</a>{% endblock subheading2 %}