{% extends 'Aplicacion/base.html' %}
{% load static %}


{% block heading %}
    <h1 class="masthead-heading mb-0" style="color: white;">MANIC</h1>
{% endblock heading %}

{% block subheading %}
    <h2 class="masthead-subheading mb-0" >Tu Salud, Nuestra Pasión: Cuidado Profesional a Tu Alcance.</h2>
{% endblock subheading %}


{% block titulo1 %}
    <h2 class="display-4">Cuidado Personalizado, Corazón Compasivo</h2>
{% endblock titulo1 %}

{% block parrafo1 %}
<p>En MANIC, nos dedicamos a ofrecer una atención sanitaria con amor y dedicación. Nuestro equipo de enfermeros y cuidadores profesionales está preparado para brindar el apoyo y cuidado que tú y tus seres queridos necesitan, tratándote como parte de nuestra familia.</p>
{% endblock parrafo1 %}

{% block titulo2 %}
    <h2 class="display-4">Salud y Bienestar en Buenas Manos</h2>
{% endblock titulo2 %}

{% block parrafo2 %}
    <p>Nuestro compromiso es tu bienestar. En MANIC, cada paciente es único, y nuestro enfoque personalizado garantiza que se satisfagan tus necesidades específicas. Desde cuidado a largo plazo hasta asistencia temporal, estamos aquí para ti.</p>
{% endblock parrafo2 %}


{% block titulo3 %}
<h2 class="display-4">Experiencia y Confiabilidad en Cuidado Médico</h2>
{% endblock titulo3 %}

{% block parrafo3 %}
    <p>La confianza es esencial en el cuidado médico, y en MANIC la tenemos de sobra. Nuestro personal altamente capacitado y experimentado está listo para ofrecer la mejor atención, respaldada por años de práctica en la industria. Tu salud es nuestra prioridad.</p>
{% endblock parrafo3 %}
