{% extends 'Aplicacion/base.html' %}
{% load static %}


{% block heading %}
<h1 class="masthead-heading mb-0">Login</h1>
{% endblock heading %}

{% block subheading %}

{% endblock subheading %}

{% block contenido1 %}
    <div class="registro-container">
        <form action="" method="post" class="registro-form">
            <h2>Login</h2>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Enviar">
            </form>
        </form>
    </div>
    <style>
        .registro-container {
            border: 2px solid #ccc;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0px 0px 12px 1px #00000033;
            width: 100%;
            max-width: 500px;
            margin: auto;
            margin-top: 30px;
        }
        .registro-form {
            width: 100%;
        }
        .form-group {
            margin-bottom: 25px;
        }
        .field-wrapper {
            margin-bottom: 20px;
        }
        .control-label {
            font-size: 18px;
            margin-bottom: 10px;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            padding: 10px;
            width: 100%;
            font-size: 16px;
        }
        .btn-primary {
            padding: 12px 20px;
            font-size: 18px;
        }
    </style>
{% endblock contenido1 %}


{% block contenido2 %}
{% endblock contenido2 %}

{% block contenido3 %}
{% endblock contenido3 %}